* {
    /* Свойства для сброса начальных стилей элементов */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    background: #2965f1;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */

    font-weight: 700;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    padding: 23px 0;
}

.main-section {
    /* Стили для первой секции */
    padding: 60px 0;
    min-height: 100vh;
    background: #fafaff;
}

.main-title {
    /* Стили для заголовка в первой секции */

    font-weight: 700;
    font-size: 48px;

    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */

    font-weight: 400;
    font-size: 18px;

}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */

    font-weight: 400;
    font-size: 16px;

    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    padding: 9px 87px 8px 12px;
    background-image: url(assets/img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 10px  top 50%;
    appearance: none;
}

.section-title {
    /* Стили для заголовков во второй секции */

    font-weight: 700;
    font-size: 24px;

    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */

    font-weight: 400;
    font-size: 16px;

    padding: 0px 20px;
    list-style: none;
    list-style-image: url(assets/img/Vector.svg);
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    padding-left: 0px 20px;

    font-weight: 400;
    font-size: 16px;

}

.label {
    /* Стили для подписей чекбоксов */

    font-weight: 400;
    font-size: 16px;

}

.text-field {
    /* Стили для односточного поля ввода текста */

    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    padding: 9px 215px 8px 12px;
}

.btn {
    /* Стили для кнопки */

    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #2965f1;
    border: none;
    border-radius: 5px;
    padding: 10px 27px 9px 29px;
}

.line {
    /* Стили для линии */
    margin: 60px 0;
    border: 1px solid rgba(48, 48, 48, 0.3);


}

table {
    /* Стили для таблицы */
    font-weight: 400;
    font-size: 14px;
    border-collapse: collapse;
    border: 1px solid #95a1bb;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;
}

th {
    font-weight: 700;
}

footer {
    /* Стили для футера */
    padding: 26px 0px;
    background: rgba(163, 167, 255, 0.3);
}

.footer-link {
    /* Стили для футера */

    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}